[submodule "deps/geometry-central"]
	path = deps/geometry-central
	url = https://github.com/lakshmipathyarjun6/geometry-central.git
	branch = v1
[submodule "deps/libgmultigrid"]
	path = deps/libgmultigrid
	url = https://github.com/icethrush/libgmultigrid.git
